<form action="/links" method="post">
  <label for="title">Website:
  <input type="text" name="new_link_title"></label>
  <label for="url">URL:
  <input type="text" name="new_link_url"></label>
  <label for="tags">Tags:
  <input type="text" name="new_link_tag"></label>
  <input type="submit" value="create link">
</form>
