<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>"><%= link.title %></a>
    </li>
  <% end %>
</ul>

<form action="/links/new">
  <input type="submit" value="add link">
</form>
