<h1> Links </h1>

'Welcome to your bookmarks!  Thanks for signing up with: <%= @email %>'

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>"><%= link.title %></a>
    </li>
  <% end %>
</ul>

<form action="/links/new">
  <input type="submit" value="add link">
</form>

<form action="/tags/bubbles">
  <input type="submit" value="bubbles">
</form>
